@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #711831;
  --BGCOLORSOLID: #741731;
  --BORDER-COLOR: #FFF;
  --COLOR: rgb(8, 3, 3);
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #F00;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.table__button {
  padding: 0.25em;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: Helvetica, sans-serif, sans-serif;
  min-height: 100vh;
  background-color: var(--BGCOLORSOLID);
  color: var(--COLOR);
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public {
  display: flex;
  padding: 1em;
  align-self: center;
  margin-top: 5rem;
}

.public__main,
.login {
  flex-grow: 1;
  margin: 1em;
  padding: 1em 0;
  align-self: center;
  justify-self: center;
}

.public__addr {
  margin-top: 1em;
}

.welcome a::before {
  content: "➜ "
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__container--small {
  max-width: 800px;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/* || TABLES - GENERAL */

thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr ;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
}

.table--users{
  grid-template-columns: 2fr 2fr 2fr 0.2fr;
}


.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

/* ||  NOTE */

.note__created,
.note__updated,
.note__username {
  display: none;
}

.note__status {
  font-weight: bold;
}

.note__status--open {
  color: var(--STATUS-OPEN);
}

.note__status--completed {
  color: var(--STATUS-COMPLETE);
}


/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  .dash-header__nav {
    gap: 0;
  }

  .icon-button {
    font-size: 1.5rem;
  }
}


@media screen and (min-width: 768px) {

  body {
    font-size: 1.25rem;
  }

  .dash-header {
    padding: 1rem;
  }

  .dash-container {
    padding: 1em;
  }

  .table {
    font-size: 1.5rem;
    padding: 0 1.5rem 0 1rem
  }

  .table--notes {
    grid-template-columns: 1fr 0.2fr repeat(3, 0.4fr) 0.5fr 0.1fr;
  }

  .note__created,
  .note__updated,
  .note__username {
    display: block
  }

  .form__action-buttons {
    position: static;
  }

  .dash-header__container--small {
    max-width: 100%;
  }
}


/* Revisar */

.public-login {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}

.form__input__login {
  border: 0;
  border-bottom: #5c5555 1px solid;
  margin-top: 0;
  margin-bottom: 1rem;

}

.form__input__login[type=text]:focus {
  border: 0;
}

.form__submit-button {
  background: linear-gradient(90deg, rgba(116,23,48,1) 0%, rgba(116,23,48,1) 47%, rgba(208,1,53,1) 100%);
  border-radius: 0;
  border: 0;
  color: #FFF;
}

.form__checkbox {
  accent-color: #000;
}

.dash-header {
  background: linear-gradient(90deg, rgba(116,23,48,1) 0%, rgba(116,23,48,1) 47%, rgba(208,1,53,1) 100%);
}
.dash-footer {
  background: linear-gradient(90deg, rgba(116,23,48,1) 0%, rgba(116,23,48,1) 47%, rgba(208,1,53,1) 100%);
}

.dash-container {
  background: rgb(172,172,175);
  background: linear-gradient(131deg, rgba(172,172,175,1) 0%, rgba(201,201,204,1) 35%, rgba(255,255,255,1) 100%);
}

.dash-header__title {
  font-size: 2rem;
}

.icon-button {
  color:rgba(0,0,0,0.70);
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  border-radius: 15%;
  background-color: rgb(223, 216, 216);
}

.icon-button:hover {
  background-color: #711831;
  color: #FFF;
}

.dash-header__nav{
  gap: 1rem;
}

.table__cell {
  background-color: inherit;
  border: 0;
}

.note__status--open {
  background-color: #F00;
  color: #FFF;
  border-radius: 10%;
  padding: 0 1rem 0 1rem;
}

.note__status--completed {
  background-color: rgb(44, 128, 78);
  color: #FFF;
  border-radius: 10%;
  padding: 0 1rem 0 1rem;
}

.table__th{
  background-color: inherit;
  padding-bottom: 1rem;
  border: 0;
}

.table__cell{
  height: 70%;
  width: 103%;
  border-bottom: 2px solid rgb(137, 136, 136);
}

.dash-footer {
  color: #fff;
}

.header-button,
.dash-footer__button {
  padding: 0.5rem;
  border: 0
}

.dash-footer__button{
  background-color: transparent;
  color: #FFF;
}

.dash-footer__button:hover{
  background-color: rgb(223, 216, 216);
  color: black;
}

